.addButton {
    border: 2px solid black;
    border-radius: 7px;
    margin: 5px;
    height: 188px;
    width: 120px;
    display: flex;
    font-size: 120px;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}
