.toast {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn 0.3s ease-in;
    padding: 10px 20px;
    border-radius: 10px;
}

.toast__message {
    color: white;
    font-weight: bolder;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translate(100%, -50%) scale(0);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%)scale(1);
    }
}